.Header {
    background: lightgray;
}

.TableRowInactive {
    background: lightgray;
}

.EvidenceHeaderCell {
    display: flex;
    flex-direction: column;
}

.ButtonCell {
    display: flex;
    justify-content: space-around;
}
