.Header {
    background: lightgray;
}

.TableRowInactive {
    background: lightgray;
}

.GhostCell {
    padding-top: 8px;
    padding-bottom: 8px;
}

.EvidenceHeaderCell {
    display: flex;
    flex-direction: column;
}

.ButtonCell {
    display: flex;
    justify-content: space-around;
}
